.Home {
	background: lightblue;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		font-family: "Send_Flowers", serif;
		font-size: 4rem;
	}
	&__closeup {
		height: min(60vh, 60vw);
		width: min(60vh, 60vw);
		border-radius: 50%;
		border: 5px solid black;
	}
}